

<%- include('partials/logged-in-header') -%>


  
  <div id="container" >
    <div class="text-center"> 
      <button type = "button" id="btn-quotes" class="btn text-center bg-green-400 mb-3.5">  Get Motivated</button>
    </div>
   
    <div id="output"  class="text-center mt-2 px-33.5	mx-33.5	mt-4 ">
  Press the button to generate a Motivational Quote to keep you going!
    </div>
  </div>

<div class="bg-white">

  <div class="mx-auto max-w-2xl  px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 text-center mb-3">My Saved Books: </h2>
    <% console.log(books[0]) %> 
    <div class=" grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  
      <% for(var i=0; i<books.length; i++) {%>
        <%if(books[i].favorite.includes(user.id)) { %>
          <div class="group relative">
            <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
              <a href="/book/<%= books[i]._id%>">
              <img src="<%= books[i].image%>"  style="width:  100%; height: 350px;" class="w-full  h-full object-cover object-center ">
            </a>
          </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="/book/<%= books[i]._id%>"> <span aria-hidden="true" class="absolute inset-0"></span> <%= books[i].title%>  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500"> <%= books[i].author%> </p>
              </div>
          
            </div>
          </div>
          <% } %>
    
       
          <% } %>
         
    </div>
</div>
</div>





<%- include('partials/footer-quotes') -%>


