<%- include('partials/logged-in-header') -%>

<div class="  ">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://cdn.shopify.com/s/files/1/2130/7259/products/you-are-a-badass-book-jen-sincero_720x@2x.jpg?v=1571719995" class="max-w-sm  " />
    <div class="m-7" >
      <h1 class="mb-3	 text-4xl font-bold text-center 	">Book of the Day</h1>
      <p class="mb-3	 text-center mt-5.5	">Identify and change the self-sabotaging beliefs and behaviors that stop you from getting what you want, Create a life you totally love. And create it NOW, Make some damn money already. The kind you've never made before.</p>
      <div class="btn-header">
          <a href="/blog" class="btn btn-header">Join the Blog</a>
      </div>
    </div>
  </div>
</div>


<div class="bg-white">

  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 text-center">Customers Favorites</h2>
    <ul class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% for(var i=0; i<posts.length; i++) {%>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1  overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none ">
          <a href="/post/<%= posts[i]._id%>">
          <img src="<%= posts[i].image%>"  style="width:  100%; height: 350px;" class="w-full  h-full object-cover object-center ">
        </a>
      </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
             <strong>
               <a href="/post/<%= posts[i]._id%>"> <span aria-hidden="true" class="absolute inset-0"></span> <%= posts[i].title%>  </a>
             </strong> 
            </h3>
            <p class="mt-1 text-sm text-gray-500"> <%= posts[i].author%> </p>
          </div>
      
        </div>
      </div>
      <% } %>
    </ul>
      </div>
      </div>
      

    

<%- include('partials/footer') -%>  
